@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* box-sizing: border-box; 
   padding-right: 1.3rem;
  padding-left: 1.3rem; */
  /* max-width: 90vw; */
  /* width: 100vw; */
  /* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700 */

/* .roboto-mono-thisIsFont { */
  /* font-family: "Roboto Mono", serif; */
  /* font-optical-sizing: ;
  font-weight: 700;
  font-style: normal; */
/* } */
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground:rgb(10, 1, 1);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
